.container {
  padding: 30px;
}

.record-button {
  margin-top: 30px;
  display: block;
  width: 100%;
  font-size: 24px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.record-button:hover {
  background-color: rgba(30, 144, 255, 0.5);
}

.record-button:active {
  background-color: dodgerblue;
}
